/*.lotusContainer {
  /*margin-left: 2em !important;*/
  /*display: inline;*/
}

.menuIcon {
  margin-top: 3em;
  color: black !important;

}


a {
  color: black !important;
}

.pageHead {
  padding-bottom: 7em;
}
