.splashContainer {
  /*margin-top: 10em;*/
}

.loginButton {
  display: inline;
}

.createAccount {
  display: inline;
  /*margin-left: 5em;*/
}
.inputRow {
  display: inline;
}
.loginForm {
  padding: 4em;
  padding-right: 4em !important;
}
.loginActionContainer {

}
.lotusRow {

}

.splashPageContainer {
  height: 100vh !important;
  /*overflow: hidden;*/
  overflow: visible;
}

/*@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .splashPageContainer {
    height: 100vh !important;
    overflow: hidden !important;
  }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) {
  .splashPageContainer {
    height: 100vh !important;
    overflow: hidden !important;
  }
  .loginCol {
    position: static;
  }
  .lotus-login-bottom-pulse {
    position: static;
  }
}*/
