header, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body {
  background-color: #F1F1F1;
}

/*.collapsible-header {
  padding-left: 32px !important;
}

.chakraList {

}
.chakras {
  vertical-align: baseline;
  line-height: 100px;
  text-align: left;
  padding: 10px !important;
  vertical-align: middle !important;
}
.chakraAnchor {
  vertical-align: middle !important;
}


.chakraImg {
  margin-left: 70px;
  vertical-align: middle;*/
  /*display;*/
/*}*/
/*#chakra2 {

}

#chakra3 {
  margin-left: 103px;
}
#chakra4 {
  margin-left: 72px;
}
#chakra5 {
  margin-left: 45px;

}
#chakra6 {
  margin-left: 90px;

}
#chakra7 {
  margin-left: 66px;
}

#newPostButton {
  background-color: rgba(241, 41, 35, 0.7);
  border-radius: 35px;
  color: black;
}

.side-nav {*/
/*background: rgba(0, 0, 0, 0.4)*/
/*font-size: 50px !important;
text-align: left;*/
/*font-weight: bold !important;*/
/*}*/

/*#sidenav-overlay {*/
    /*margin-left: 300px;*/
    /*z-index: 1 !important;*/
    opacity: 0 !important;
    /*position: static !important;*/
    /*display: none;*/
/*}*/

/*.navbar-fixed {*/
/*z-index: 997 !important;*/
/*}*/
/* ------------------------------------------------------------------*/
/*FEED PAGE*/

.card {
}

.card-image {
}
h2 {
  /*padding-right: -50vw;*/
}
.pageTitle {
  top: 0;
  left: 0;
  padding-top: 5px;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  display: block;
  z-index: 1;
  vertical-align: middle;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 10em;
}

.feedCont {
  padding-top: 7em;

}

.container {
  z-index: 2;
}
.btn-floating {
  z-index: 0 !important;
}

.btn {
  z-index: 0 !important;
}
/* ------------------------------------------------------------ */

/* ----------------------------------------------------------------------- */
/* BEGIN PROFILE STYLING */
.profileContainer {
  /*padding: 10px;*/
  padding-top: 7em !important;
}
.profileHead{
  background-color: white;
  border-radius: 10px;
  max-height: 200px;
  padding: 1em !important;
  vertical-align: middle;
}
img.profileImage {
  vertical-align: middle;
  max-height: 180px;
  border-radius: 35%;
  /*border: 1px solid black;*/
}
.profPicContainer {
  /*vertical-align: middle !important;*/
  /*margin: 10px !important;*/
  /*padding-top: 10px;*/
  max-height: 180px;
  display: inline;
}
.userBio {
  display: inline-block;
  vertical-align: top;
}

.username {
  display: run-in;
  font-family: 'Amatic SC';
  font-size: 24pt;
  vertical-align: top;
  text-align: center;
  /*padding-top: 0px !important;*/
  margin: 0 !important;
}
.profilePostContainer {
  /*max-height: 500px;*/
}

.profPostPicContainer {
  display: inline-block;
  height: 160px;
  width: 500px;
  margin-bottom: 25px;
  overflow: hidden: ;

}

.profPostImage {
  /*max-height: 160px;
  max-width: 300px;
  /*border-radius: 10px;*/
  margin-top: 2em;
  height: auto;
  max-width: 200px;
  /*vertical-align: middle !important;*/
  /*align-items: center;*/

  left: 50%;
  position: relative;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*max-width: 100%;*/

  position: relative;
    /*float: left;*/
    /*width:  200px;
    height: 160px;*/
    /*background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;*/
    border-radius: 10px;
}

.postTitle {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

/* ------------------------------------------------------------------*/
/* SPLASH PAGE */

.splashContainer {
/*background-color: white ;*/
}
.login {

}
