<div class="row">
  <form class="newUserForm input-field col s12   offset-m3" action="index.html" method="post" ng-submit="$ctrl.createUser()" (submit)="preventDefault($event)">
    <div class="row">
      <div class="input-field col s6">
        <input id="usernameInput" type="text" name="username" value="" class="validate" ng-model="$ctrl.newUserInfo.username">
        <label for="usernameInput" datat-error="Please Enter Username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="passwordInput" type="text" name="password" value="" class="validate" ng-model="$ctrl.newUserInfo.password">
        <label for="passwordInput" data-error="Please Enter Password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" ng-model="$ctrl.newUserInfo.email">
        <label for="email" data-error="invalid email" data-success="right">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea id="bioTextArea"type="textarea" name="bio" value="" class="materialize-textarea" ng-model="$ctrl.newUserInfo.user_bio"></textarea>
        <label for="bioTextArea">User Bio</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <input type="submit" id="submit" value="Submit" />

      </div>
    </div>
</form>
</div>
