<!-- this is where I will be putting all of my components -->

<div class="container col-md-12">

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
            <img src="/images/poses/downwardfacingdog.jpg" alt="PosePhoto" class="posePhoto">
            <div class="dificultyText">
                EASY
            </div>
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h1><strong>Downward Facing Dog</strong></h1>
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">To begin this stance or pose, begin on all fours. Keep your knees beneath the hips and your hands a little before your shoulders. Exhale and lift your knees away from the floor far. At first, you can keep your knees somewhat bowed and
                    your heels lifted up from the floor. At that point, stretch your tailbone far from your pelvis and press it delicately to the pubis. Now raise your sitting bones against this resistance toward the roof and draw your legs into the crotch.
                    During exhalation let the highest point of your thighs be pushed back and your heel extended against the ground. Brace your arms and press your index finger effectively into the floor. Your head ought to be between your arms. Abstain
                    from giving it a chance to drop.</div>
            </div>
        </div>

        <!-- this div tag is styled to contain chakra pictures, all on the right side of the container-->

        <div class="col-md-12">


            <div class="pull-right">
                <img src="/images/chakras/chakra5.png" alt="chakra" class="chakraPhoto">
            </div>
            <!-- <div class="pull-right">
        <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
      </div>

      <div class="pull-right">
        <img src="/images/chakras/chakra7.png" alt="chakra" class="chakraPhoto">
      </div> -->
        </div>
    </div>

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
          <!-- <div class="catergory col-lg-1">
              <h5>Category:</h5>
              <h5>BACK BENDS</h5>
          </div> -->
          <!-- <div class="dificultyText col-lg-1">
              <h5>Difficulty Level:</h5>
              <h5>MODERATE</h5>
          </div> -->
          <!-- <div> -->
            <!-- <img src="/images/poses/downwardfacingdog.jpg" alt="PosePhoto" class="posePhoto"> -->
          <!-- <div> -->
            <!-- <div class="dificultyText">
                <h5>Category:</h5>
                <h5>BACK BENDS</h5>
                <h5>Difficulty Level:</h5>
                <h5>MODERATE</h5>
            </div> -->
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">
          <div class="pull-left">
              <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
          </div>

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h1><strong>DHANURASANA | धनुरासन | BOW POSE</strong><span><img src="/images/poses/downwardfacingdog.jpg" alt="PosePhoto" class="posePhoto"></span></h1>
                <!-- <h1><strong>BOW POSE</strong></h1>
                <h1><strong>धनुरासन</strong></h1> -->
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">In this asana, the practitioner lies flat on the stomach and bends the knees. Then the arms reach back to grab the ankles. The back arches and the thighs lift off of the floor as the chest pushes forward, bending the body to resemble a bow. <h5>Difficulty Level: MODERATE</h5><h5>Category: BACK BENDS</h5></div>
            </div>
        </div>

        <!-- this div tag is styled to contain chakra pictures, all on the right side of the container-->

        <div class="col-md-12">


            <div class="pull-right">
                <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
            </div>
            <!-- <div class="pull-right">
        <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
      </div>

      <div class="pull-right">
        <img src="/images/chakras/chakra7.png" alt="chakra" class="chakraPhoto">
      </div> -->
        </div>
    </div>

</div>

<!-- these buttons should be removed, replaced with angular functions to make the color of the container change -->
<!-- <button onclick="changeToBlue()">change to blue</button>
<button onclick="changeToGradient1()">change to red/yellow</button>
<button onclick="changeToOne()">change to Type1</button>
<button onclick="changeToTwo()">change to Type2</button>
<button onclick="changeToThree()">change to Type3</button>
<button onclick="changeToFour()">change to Type4</button>
<button onclick="changeToFive()">change to Type5</button>
<button onclick="changeToSix()">change to Type6</button>
<button onclick="changeToSeven()">change to Type7</button>

<script type="text/javascript">
  function changeToBlue() {
    document.getElementById("poseContainer").style.background = "lightblue";
  }

  function changeToOne() {
    document.getElementById("poseContainer").style.background = "rgba(255, 90, 90, 1)";
  }

  function changeToTwo() {
    document.getElementById("poseContainer").style.background = "rgba(255, 185, 90, 1)";
  }

  function changeToThree() {
    document.getElementById("poseContainer").style.background = "rgba(255, 220, 90, 1)";
  }

  function changeToFour() {
    document.getElementById("poseContainer").style.background = "rgba(200, 255, 140, 1)";
  }

  function changeToFive() {
    document.getElementById("poseContainer").style.background = "rgba(154, 237, 255, 1)";
  }

  function changeToSix() {
    document.getElementById("poseContainer").style.background = "rgba(128, 152, 255, 1)";
  }

  function changeToSeven() {
    document.getElementById("poseContainer").style.background = "rgba(203, 161, 249, 1)";
  }

  function changeToGradient1() {
    document.getElementById("poseContainer").style.background = "linear-gradient(rgba(255, 255, 0, 0.55), rgba(255, 0, 0, 0.58))";
  }
</script> -->
