<!-- BEGIN PROFILE CONTAINER -->
<div class="row">
  <div class="profileContainer col s12 m8 offset-m2" ng-model="$ctrl.items">
    <div class="row">
      <div class="col s12 m12 profileHead z-depth-1">
        <div class="profPicContainer">
          <img class="profileImage z-depth-1 hoverable" ng-src = "{{$ctrl.items.profilePictureImg}}"></img>
        </div>
        <p class="right">{{$ctrl.items.username}}</p>
        <p>{{$ctrl.items.bio}}</p>
      </div>
    </div>

    <h2 class="postTitle">YOUR POSTS</h2>
    <hr></hr>
    <div class=" row profilePostContainer">
      <div class=" profPostPicContainer col s12 m4" ng-repeat="post in $ctrl.posts">
        <img class="profPostImage z-depth-1 hoverable" ng-src="{{post.post_img}}"alt="one of your posts">
      </div>
    </div>


  </div>
</div>
<!-- END PROFILE CONTAINER -->
