<!-- BEGIN PROFILE CONTAINER -->
<div class="row">
  <div class="profileContainer col s12 m8 offset-m2">
    <div class="row">
      <div class="col s12 m12 profileHead z-depth-1">
        <div class="profPicContainer">
          <img class="profileImage z-depth-1 hoverable" src="/images/profilePictures/derek.jpg">
          </img>
        </div>
      </div>
    </div>

    <h2 class="postTitle">YOUR POSTS</h2>
    <hr></hr>
    <div class=" row profilePostContainer">
      <div class=" profPostPicContainer col s12 m4">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/headstand.jpg" alt="one of your posts">
      </div>
      <div class="col s12 m4 profPostPicContainer">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/downwardfacingdog.jpg" alt="one of your posts">
      </div>
      <div class="col s12 m4 profPostPicContainer">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/squat.jpg" alt="one of your posts">
      </div>
      <div class=" profPostPicContainer col s12 m4">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/tree.jpg" alt="one of your posts">
      </div>
      <div class=" profPostPicContainer col s12 m4">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/triangle.jpg" alt="one of your posts">
      </div>
      <div class=" profPostPicContainer col s12 m4">
        <img class="profPostImage z-depth-1 hoverable" src="/poses/seatedspinaltwist.jpg" alt="one of your posts">
      </div>
    </div>


  </div>
</div>
<!-- END PROFILE CONTAINER -->
