<body>
<div id="splashChakra" ng-click="$ctrl.splash()"> </div>
<h1 ng-click="$ctrl.gohome()">HOME</h1>
<p>^click home to go home This will be the parent state that gets passed to each child state </p>
<h4>we can decide what to do here when ever you guys like Add nav bar/ chakra at top to go back to splash etc</h4>
<!-- THIS IS THE FUNCTION I CALL IN MY home.component.js to change states to 'home.profile' -->
<input type="button" value="Change states to feed/profile" ng-click="$ctrl.feed()">
</body>
