<div class="well">
  <div class="text-right">
    {{ $ctrl.post.title }}
  </div>
  <img class="media-object" ng-src="{{ $ctrl.post.post_img }}">
  <div class="media-body">

    <p>
      {{ $ctrl.post.description }}
    </p>
    <span am-time-ago=" $ctrl.post.created_at"></span> |
    <i class="glyphicon glyphicon-comment"></i>
    <!-- TRUE DISPLAYS THE COMMENT(S) -->
    <a ui-sref="app.comment({id: $ctrl.post.id})">
    {{ $ctrl.post.comments.length}}
    <ng-pluralize count="$ctrl.post.comments.length" when="{'0': 'Comments', 'one': 'Comment', 'other': 'Comments'}"></ng-pluralize>
  </a>

  </div>
</div>
