<!-- this is where I will be putting all of my components -->

<!-- <div class="container col-md-12"> -->
    <!-- <div class="well media container1" id='poseContainer'> -->
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <!-- <div class="media-left media-middle">
            <img src="/images/poses/downwardfacingdog.jpg" alt="PosePhoto" class="posePhoto">
            <div class="dificultyText">
                EASY
            </div>
        </div> -->
        <!-- this div contains the Text -->
        <!-- <div class="media-body"> -->

            <!-- this div is the name of the pose -->
            <!-- <div class="poseName">
                <h3><strong>Downward Facing Dog</strong></h3>
            </div> -->

            <!-- this div contains discription -->
            <!-- <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">To begin this stance or pose, begin on all fours. Keep your knees beneath the hips and your hands a little before your shoulders. Exhale and lift your knees away from the floor far. At first, you can keep your knees somewhat bowed and
                    your heels lifted up from the floor. At that point, stretch your tailbone far from your pelvis and press it delicately to the pubis. Now raise your sitting bones against this resistance toward the roof and draw your legs into the crotch.
                    During exhalation let the highest point of your thighs be pushed back and your heel extended against the ground. Brace your arms and press your index finger effectively into the floor. Your head ought to be between your arms. Abstain
                    from giving it a chance to drop.</div>
            </div>
        </div> -->

        <!-- this div tag is styled to contain chakra pictures, all on the right side of the container-->

        <!-- <div class="col-md-12"> -->
            <!-- <div class="pull-right">
                <img src="/images/chakras/chakra5.png" alt="chakra" class="chakraPhoto">
            </div> -->
            <!-- <div class="pull-right">
        <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
      </div>

      <div class="pull-right">
        <img src="/images/chakras/chakra7.png" alt="chakra" class="chakraPhoto">
      </div> -->
        <!-- </div>
    </div> -->

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">
            <div class="pull-left">
                <img src="/images/chakras/chakra5.png" alt="chakra" class="chakraPhoto">
            </div>

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h3><strong>ADHO MUKHA SVANASANA | धनुरासन | DOWNWARD FACING DOG</strong><span><img src="/images/poses/downwardfacingdog.jpg" alt="PosePhoto" class="posePhoto"></span></h3>
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">To begin this stance or pose, begin on all fours. Keep your knees beneath the hips and your hands a little before your shoulders. Exhale and lift your knees away from the floor far. At first, you can keep your knees somewhat bowed and your heels lifted up from the floor. At that point, stretch your tailbone far from your pelvis and press it delicately to the pubis. Now raise your sitting bones against this resistance toward the roof and draw your legs into the crotch. During exhalation let the highest point of your thighs be pushed back and your heel extended against the ground. Brace your arms and press your index finger effectively into the floor. Your head ought to be between your arms. Abstain from giving it a chance to drop.
                    <h5>Difficulty Level: EASY</h5>
                    <h5>Category: FORWARD BENDS</h5></div>
            </div>
        </div>
    </div>

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">
            <div class="pull-left">
                <img src="/images/chakras/chakra4.png" alt="chakra" class="chakraPhoto">
            </div>

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h3><strong>DHANURASANA | धनुरासन | BOW POSE</strong><span><img src="/images/poses/bow.jpg" alt="PosePhoto" class="posePhoto"></span></h3>
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">In this asana, the practitioner lies flat on the stomach and bends the knees. Then the arms reach back to grab the ankles. The back arches and the thighs lift off of the floor as the chest pushes forward, bending the body to resemble a
                    bow.
                    <h5>Difficulty Level: MODERATE</h5>
                    <h5>Category: BACK BENDS</h5></div>
            </div>
        </div>
    </div>

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">
            <div class="pull-left">
                <img src="/images/chakras/chakra7.png" alt="chakra" class="chakraPhoto">
            </div>

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h3><strong>SIRSHASANA | शीर्षासन | HEADSTAND</strong><span><img src="/images/poses/headstand.jpg" alt="PosePhoto" class="posePhoto"></span></h3>
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">Come to your hands and knees with the wrists underneath the shoulders and the knees underneath the hips. Bring your forearms to the floor, keeping your elbows directly under your shoulders. Clasp your hands together on the floor, interlacing your fingers. Place the crown of your head on the floor. Lift your hips and straighten your legs as if your were coming into downward facing dog. Carefully walk your feet in towards your head until your hips as close to over your shoulders as possible. Bend your knees. Draw one knee into your chest, lifting that foot from the floor. Then draw the other knee in. Both feet are now up. Lift one leg straight up toward the ceiling. When that leg is in line with your torso, lift the other foot off the floor. Balance here. One you get the legs up, reach through the balls of your feet. Press down strongly into your forearms.
                    <h5>Difficulty Level: ADVANCED</h5>
                    <h5>Category: INVERSIONS</h5></div>
            </div>
        </div>
    </div>

    <div class="well media container1" id='poseContainer'>
        <!-- this div below here is styled to be Pose Photo and Pose Dificulty-->
        <div class="media-left media-middle">
        </div>
        <!-- this div contains the Text -->
        <div class="media-body">
            <div class="pull-left">
                <img src="/images/chakras/chakra1.png" alt="chakra" class="chakraPhoto">
            </div>

            <!-- this div is the name of the pose -->
            <div class="poseName">
                <h3><strong>TADASANA | ताडासन | MOUNTAIN</strong><span><img src="/images/poses/mountain.jpg" alt="PosePhoto" class="posePhoto"></span></h3>
            </div>

            <!-- this div contains discription -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Instructions</strong></div>
                <div class="panel-body">Stand with the feet parallel and hip width apart. Lengthen the body from earth to sky and increase the space and openness throughout your being. Lift the rib cage evenly, widen the shoulders, and tuck the pelvis. Close your eyes for a moment, and relax deeply into your center.
                    <h5>Difficulty Level: MODERATE</h5>
                    <h5>Category: BACK BENDS</h5></div>
            </div>
        </div>
    </div>

</div>

<!-- these buttons should be removed, replaced with angular functions to make the color of the container change -->
<!-- <button onclick="changeToBlue()">change to blue</button>
<button onclick="changeToGradient1()">change to red/yellow</button>
<button onclick="changeToOne()">change to Type1</button>
<button onclick="changeToTwo()">change to Type2</button>
<button onclick="changeToThree()">change to Type3</button>
<button onclick="changeToFour()">change to Type4</button>
<button onclick="changeToFive()">change to Type5</button>
<button onclick="changeToSix()">change to Type6</button>
<button onclick="changeToSeven()">change to Type7</button>

<script type="text/javascript">
  function changeToBlue() {
    document.getElementById("poseContainer").style.background = "lightblue";
  }

  function changeToOne() {
    document.getElementById("poseContainer").style.background = "rgba(255, 90, 90, 1)";
  }

  function changeToTwo() {
    document.getElementById("poseContainer").style.background = "rgba(255, 185, 90, 1)";
  }

  function changeToThree() {
    document.getElementById("poseContainer").style.background = "rgba(255, 220, 90, 1)";
  }

  function changeToFour() {
    document.getElementById("poseContainer").style.background = "rgba(200, 255, 140, 1)";
  }

  function changeToFive() {
    document.getElementById("poseContainer").style.background = "rgba(154, 237, 255, 1)";
  }

  function changeToSix() {
    document.getElementById("poseContainer").style.background = "rgba(128, 152, 255, 1)";
  }

  function changeToSeven() {
    document.getElementById("poseContainer").style.background = "rgba(203, 161, 249, 1)";
  }

  function changeToGradient1() {
    document.getElementById("poseContainer").style.background = "linear-gradient(rgba(255, 255, 0, 0.55), rgba(255, 0, 0, 0.58))";
  }
</script> -->
