header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body {
  background-color: ivory;
}

.collapsible-header {
  padding-left: 32px !important;
}

.chakras {
  margin-top: 20px;
}

h6 {
  text-align: left;
  vertical-align: middle;
}

.chakraImg {
  margin-left: 175px;
  vertical-align: middle;
}

/*FEED PAGE*/

.card {
  /*width: 50%;*/
}

.card-image {
  border-bottom: 2px solid gray;
}

.pageTitle {
  padding-bottom: 60px;
}
