<!-- <div class="container">
    <div class="row center">
        <h1 ng-click="$ctrl.gohome()">HOME</h1> -->

        <!-- THIS IS THE FUNCTION I CALL IN MY home.component.js to change states to 'home.profile' -->
        <!-- <input type="button" value="Change states to feed/profile" ng-click="$ctrl.feed()"> -->
        <div id="splashChakra" ng-click="$ctrl.splash()"> </div>
    <!-- </div>
</div> -->

<div class="container">
    <div class="row">
        <div id="leftnav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeLeftNav()">&times;</a>
        </div>
        <div id="rightnav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">&times;</a>
        </div>
    </div>

    <div class="row center">
        <div class="leftnav rightnav">
            <span ng-click="showLeftNav = !showLeftNav" class="pull-left navHover">Navigation</span>
            <span ng-click="showRightNav = !showRightNav" class="pull-right navHover">Sort By Category</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- MAKE THIS APPEAR ON HOVER -->
    <div ng-show="showLeftNav" class="navToggle pull-left left">
        <nav class="navbar navbar-default navbar-fixed-side">
            <h6><a class="settings glyphicon glyphicon-user" ng-click="$ctrl.navBarProfile()">Profile</a></h6>
            <br><br><br><br><br><br>
            <h6 ><a class="settings glyphicon glyphicon-leaf" ng-click="$ctrl.navBarPoses()">Poses</a></h6>
            <br><br><br><br><br><br>
            <h6><a class="settings glyphicon glyphicon-pencil" ng-click="$ctrl.navBarNewPost()">Post</a></h6>
            <br><br><br><br><br><br>
            <h6><a class="settings glyphicon glyphicon-cog" ng-click="$ctrl.navBarSignOut()">SignOut</a></h6>
            <br><br><br><br><br>
        </nav>
    </div>

    <!-- MAKE THIS APPEAR ON HOVER -->
    <div ng-show="showRightNav" class="navToggle pull-right right">
        <nav class="navbar navbar-default navbar-fixed-side">
            <div><a class="chakra1" ng-click="$ctrl.navBarChakra1()" class="chakra1"><h6>Standing Poses</h6><img src="/images/chakras/chakra1.png" alt="chakra1" width="20%"></a></div><br>
            <div><a class="chakra2" ng-click="$ctrl.navBarChakra2()"><h6>Hip Openers</h6><img src="/images/chakras/chakra2.png" alt="chakra2" width="20%"></a></div><br>
            <div><a class="chakra3" ng-click="$ctrl.navBarChakra3()"><h6>Twists</h6><img src="/images/chakras/chakra3.png" alt="chakra3" width="20%"></a></div><br>
            <div><a class="chakra4" ng-click="$ctrl.navBarChakra4()"><h6>Back Bends</h6><img src="/images/chakras/chakra4.png" alt="chakra4" width="20%"></a></div><br>
            <div><a class="chakra5" ng-click="$ctrl.navBarChakra5()"><h6>Forward Bends</h6><img src="/images/chakras/chakra5.png" alt="chakra5" width="20%"></a></div><br>
            <div><a class="chakra6" ng-click="$ctrl.navBarChakra6()"><h6>Balance</h6><img src="/images/chakras/chakra6.png" alt="chakra6" width="20%"></a></div><br>
            <div><a class="chakra7" ng-click="$ctrl.navBarChakra7()"><h6>Inversions</h6><img src="/images/chakras/chakra7.png" alt="chakra7" width="20%"></a></div>
        </nav>
    </div>

</div>
